/* START: Global Styles */
* {
  box-sizing: border-box;

}
/* END: Global Styles */

body {
  font-family: sans-serif;
  margin: 0;
}
main {display: flex;
/* Forces elements to the next line if they don't fit */
flex-wrap: wrap;
}
h1, .cool-title {font-size: 2rem} /*font size for the heading*/

/*START:styling navigation bar*/

nav {
    display: flex;
    flex-wrap: wrap;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
}
nav ul li {
  display: inline-block;
  margin-left: 25px;
}
@media screen and (max-width:768px){
    nav ul {
        display: flex;
    flex-direction: column;
    } 
    header div {
        display: flex;
        flex-direction: column;
    }
    }
      
/*END: styling navigation bar*/

.cool-title{
  text-align:end;
  padding: 20px;
}

/*Styles for profile picture Start*/
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*Styles for profile picture End*/

/* Styles for aside element Start */
aside {
  display: block;
  width: 20%;
  float: left;
  font-style: italic;
  background-color: lightgray;
}
/* Styles for aside element End */

/*Styles for sections Start*/
section {
  padding: 0 0 2% 2%;
  width: 78%;
  display: block;
  margin: 0px 0 2% 20%;
  border-left: 0.25rem solid rgb(27, 2, 76);
}
/*Styles for sections End*/

p {
  text-wrap: wrap;
  font-style: italic;
}

/*Styles for Contact section Start*/
    
.contacts ul {
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts ul li {
  display: inline-block;
  margin: auto;
  padding: 2%;
}

/*Styles for Contact section End*/

/*Styles for images Start*/

 .portfolio img#refactor {
    height: 100%;
    width: 100%;
  }
  
  #landing-page {
    margin: 5px;
    margin-left:0;
    width: 500px;
    height: 100px;
    width:100%;
    
  }
#css-portfolio {
    float: right;
    margin-top: 5px;
    width: 500px;
    height: 100px;
    width:100%;
}
.flex-container {
    display:flex;
 max-width: 100%;
flex-wrap: wrap;}


.container01 {
    flex:1 0 150px;
    display: flex;
    margin-right: 10px;
}


.cont01 {
flex: 1 0 150px;
}
.container02 {
    flex:1 0 150px;
    display: flex;
    margin-left:10px;
}
.cont02 {
    flex: 1 0 150px;
   
}
@media screen and (max-width:768px) {

    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .container02 {
        margin-left: 0;
    }
    .text-block01, .text-block02 {
        margin-bottom: 40px;
    }
}

.overlay:hover {
    opacity: 20%;
}

/*Styles for images End*/  

/*Adding textboxes to the image Start*/
.container {
    position: relative;
    text-align: center;
    color: rgb(6, 2, 2);
    
}
.text-block {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color: rgb(138, 94, 94);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.container01 {
    position: relative;
    text-align: center;
    color: rgb(6, 2, 2);
    width:100%;
    float:left;
    
}
.text-block01 {
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color: rgb(138, 94, 94);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
    
.container02 {
    position: relative;
    text-align: center;
    color: rgb(6, 2, 2);
    width:100%;
    float:right;
}
.text-block02 {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: rgb(138, 94, 94);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

/* Adding textboxes to the image End  */

/* Smooth Scrolling Start*/
html {
    scroll-behavior: smooth;
  }
  /* Smooth Scrolling End */

/* adding media query to contacts */
@media screen and (max-width:768px){
.contacts ul {
flex-direction: column;
}
section {
    display: flex;
    flex-direction: column;
}
}
    
/* styles footer */
h3 {
    font-size: medium;
    text-align: center;
}
