/* START: Global Styles */
* { 
    box-sizing: border-box;
    border: 1px solid red;
}
/* END: Global Styles */

body {
    font-family: sans-serif;
    margin: 0;
}

/*START:styling navigation bar*/
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}
 nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*END: styling navigation bar*/


div {
    text-align: end;
    padding: 0 20px 0 0 ;
}

/*Styles for profile picture Start*/
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  /*Styles for profile picture End*/

  /* Styles for aside element Start */
  aside {
    display: block;
    width: 20%;
    float: left;
    font-style: italic;
    background-color: lightgray;
  }
  /* Styles for aside element End */

  /*Styles for sections Start*/
  section {

    width:78%;
    display: block;
    margin-left: 20%;
}
/*Styles for sections End*/

p {
    text-wrap:wrap;
}